.footer {
  padding: 50px 0;
  background-color: #1c1e21;
  color: #fff;

  @media screen and (max-width: 1200px) {
    padding: 30px 0 30px 0;
  }

  @media screen and (max-width: 992px) {
    font-size: 14px;
  }

  &__inner {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__icons {
    margin-bottom: 30px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: #fff;
    transition: all 0.3s;

    &:hover {
      fill: #00b4fb;
    }
  }

  &__link {
    text-decoration: none;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__copy {
    margin: 0;
  }
}
