.services {
  background-image: url("../img/parralax.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  padding: 100px 0;
  text-align: center;

  @media screen and (max-width: 1200px) {
    padding: 70px 0 70px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 60px 0 60px 0;
  }

  color: #fff;

  &__title {
    margin-bottom: 150px;

    @media screen and (max-width: 992px) {
      margin-bottom: 130px;
    }
    &:after {
      @media screen and (max-width: 992px) {
        width: 30%;
      }
      @media screen and (max-width: 768px) {
        width: 42%;
      }
    }
  }

  &__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      justify-content: space-around;
    }
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
  }
}

.service {
  max-width: 360px;
  min-height: 300px;
  position: relative;
  flex-basis: 32%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: rgba(0, 0, 0, 0.507);
  padding: 0 15px;

  &:last-child {
    @media screen and (max-width: 992px) {
      margin-top: 90px;
    }
  }
  &:first-child {
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 992px) {
    max-width: 48%;
    width: 45%;
    flex-basis: 45%;
    min-height: 230px;
  }

  @media screen and (max-width: 768px) {
    max-width: 70%;
    width: 70%;
    flex-basis: 70%;
    margin-top: 90px;
  }

  &__img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 42px;
    width: 100%;

    @media screen and (max-width: 992px) {
      margin-top: 75px;
      font-size: 20px;
      margin-bottom: 22px;
    }
  }

  &__desc {
    line-height: 24px;
    margin: 0;
    font-size: 16px;
    width: 100%;

    @media screen and (max-width: 992px) {
      font-size: 14px;
    }
  }
}
