html {
  box-sizing: border-box;
  font-family: "Open Sans";
  // overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
  width: 1170px;

  @media screen and (max-width: 1200px) {
    width: 970px;
  }

  @media screen and (max-width: 992px) {
    width: 750px;
  }

  @media screen and (max-width: 768px) {
    width: 550px;
  }
  @media screen and (max-width: 568px) {
    width: 300px;
  }
}
