.section__title {
  position: relative;
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;

  &:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -15px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 25%;
    background: #00b4fb;
  }

  @media screen and (max-width: 992px) {
    font-size: 28px;
  }
}
