footer.footer
  .container
    .footer__inner
      a.footer__logo-link(href="/")
        img.footer__logo(src="./img/logo.png", alt="Footer logo")
      .footer__icons
        a.footer__link(href="#")
          +icon('twitter', 'footer__icon')
        a.footer__link(href="#") 
          +icon('pinterest', 'footer__icon')
        a.footer__link(href="#")
          +icon('fb', 'footer__icon')
        a.footer__link(href="#")
          +icon('in', 'footer__icon')
      p.footer__copy HURS © 2018. All Right Reserved, By Vladislav Hurskiy.