header.header
  .container
    .header__topbar
      a.header__logo-link(href="/")
        img.logo(src="./img/header_logo.png", alt="Header logo")
      .header__menu
        ul.header__navbar
          li.header__item
            a.header__link.header__link--active(href="#") Главная
          li.header__item
            a.header__link(href="#") Обо мне
          li.header__item
            a.header__link(href="#") Что делаю
          li.header__item
            a.header__link(href="#") Портфолио
          li.header__item
            a.header__link(href="#") Контакты
        select.header__lang
          option.header__switch(value="UA") UA
          option.header__switch(value="RU") RU
    .header__content
      h2.header__title Привет. Меня зовут Владислав
      .ah-container
        .ah-headline
          <span class="header__title header__subtitle">Я профессиональный <span>
          <span class="header__accent ah-words-wrapper">  
            <b class="is-visible">Веб-разработчик</b>
            <b>Веб-дизайнер</b>
          </span>
      a.header__contact-link(href="#") Связаться
    a.header__scroll-down(href='#')
      
       