section.portfolio(data-scroll-index="3")
  .container
    h2.portfolio__title.section__title Последние работы
    .carousel.owl-carousel
      .carousel__item
        img.carousel__img(src="./img/site-1.png", alt="Site photo")
        .carousel__overlay
        .carousel__content.fadeIn-bottom
          p.carousel__desc Студия веб-дизайна Wyless
          a.carousel__link(href="http://wyless.pp.ua") Перейти на сайт
      .carousel__item
        img.carousel__img(src="./img/site-2.png", alt="Site photo")
        .carousel__overlay
        .carousel__content.fadeIn-bottom
          p.carousel__desc Студия веб-дизайна Wyless
          a.carousel__link(href="http://wyless.pp.ua") Перейти на сайт
      .carousel__item
        img.carousel__img(src="./img/site-1.png", alt="Site photo")
        .carousel__overlay
        .carousel__content.fadeIn-bottom
          p.carousel__desc Студия веб-дизайна Wyless
          a.carousel__link(href="http://wyless.pp.ua") Перейти на сайт
      .carousel__item
        img.carousel__img(src="./img/site-2.png", alt="Site photo")
        .carousel__overlay
        .carousel__content.fadeIn-bottom
          p.carousel__desc Студия веб-дизайна Wyless
          a.carousel__link(href="http://wyless.pp.ua") Перейти на сайт
      