section#service.services(data-scroll-index="2")
  .container
    h2.services__title.section__title Что я делаю
    .services__inner
      .service
        img.service__img(src="./img/service-1.png", alt="Service photo")
        h3.service__title Дизайн
        p.service__desc Создаю красивый и удобный дизайн, который помогает пользователям взаимодействовать с сайтом
      .service
        img.service__img(src="./img/service-2.png", alt="Service photo")
        h3.service__title Разработка
        p.service__desc C помощью современных технологий разрабатываю сайты для разных целей: лендинг, сайт визитка и т.д.
      .service
        img.service__img(src="./img/service-3.png", alt="Service photo")
        h3.service__title Брендинг
        p.service__desc Продумую бренд в уникальном стиле, который будет соответствовать целям и стратегиям